<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
