<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
	<system.serviceModel>
		<services>
			<service name="Magazine.WCF.Service.AuthorService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/Magazine/AuthorService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Magazine.WCF.Service.IAuthorService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. -->
				<!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="Magazine.WCF.Service.ArticleService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/Magazine/ArticleService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Magazine.WCF.Service.IArticleService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. -->
				<!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="Magazine.WCF.Service.CommentService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/Magazine/CommentService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="Magazine.WCF.Service.ICommentService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<!-- Служба использует конечную точку Metadata Exchange для предоставления своего описания клиентам. -->
				<!-- Эта конечная точка не использует безопасную привязку и должна быть защищена или удалена перед развертыванием -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!--Чтобы избежать раскрытия метаданных, 
          до развертывания задайте следующим параметрам значение "false".-->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<!-- Чтобы получить сведения об исключениях в ошибках для отладки, 
          установите ниже значение TRUE. Перед развертыванием установите значение FALSE, 
           чтобы избежать разглашения сведений об исключении -->
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>